<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>QC Report</title>
    <style>{{ "style.css"|get_resource_as_string }}</style>
  </head>

  <body>
    {% if cellrangersummary is not none %}
    <div class="heading">
      <h1>CellRanger metrics summary</h1>
    </div>
    <div class="outer-wrapper">
      <div class="table-wrapper">
        {{ cellrangersummary }}
      </div>
    </div>
    {% endif %}

  </body>

</html>
